.form-group input[type="file"] {
    opacity: 1 !important;
    margin: 2em 0 !important;
    padding-bottom: 30px !important;
}
#serviceSubmitButton {
    margin-top: 2em;
}
.icon-huge {
    font-size: 5em;
}
.collapse > ul > li > a {
    margin-left: 55px !important;
}
.no-services {
    background: url(../img/undraw_empty_xct9.svg);
    background-size: contain;
    background-position: center;
    /* background-color: antiquewhite; */
    height: 50vh;
    margin: 0;
    background-repeat: no-repeat;
}
